# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGODB_URI=mongodb://127.0.0.1:27017/express_boilerplate_db
MONGO_URI=mongodb://127.0.0.1:27017/express_boilerplate_db


# OpenAI API Key
OPENAI_API_KEY

# Maximum allowed tokens limit for /get-next-token
MAX_TOKENS=500

# CORS Configuration
CORS_ORIGIN=*

